//背景　スタイル　（バックグラウンド
@charset "utf-8";
/* CSS Document */

/* ページ全体の設定 */
body { 
	/* 背景画像を設定する*/
	background-image: url("../image/背景.jfif");
}

#wrapper{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

#titleCont{
	height: 100px;
	
	/* 背景色をグラデーションにする*/

	background: linear-gradient(#ffc851, #ff0000);
	
	/* 要素の角を丸くする*/
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;

}

#leftCont{
	width:30%;

	/* ヘッダーとの間に余白を入れておく */
	margin-top: 5px;
	
	float:left;
}

#menu{
	/* デフォルト設定の上部余白を0にする */
	margin-top: 0px;
	
	background-color:#bfa46f;
}

#rightCont{
	width:70%;
	
	/* ヘッダーとの間に余白を入れておく */
	margin-top: 5px;
	
	float:left;
}

.kiji{
	background-color: #f5b1aa;
}

#bottom{
	clear:both;
}

/*リンクの設定*/
a{
	/*文字色*/
	color:#000000;

	/*太字設定*/
	font-weight: bold;

	/*線の装飾*/
	text-decoration: underline;

}

/*マウスホバー時のリンク設定*/
a:hover{
	/*文字色*/
	color:#e9546b;
}

/*一度クリックしたリンク設定（訪問済み）*/
a:visited{
	/*文字色*/
	color:#0000ff;
}

/* 見出しの設定(1番大きい) */
h1 {
	/*文字の色*/
	color: #faf7ef;

	/*文字の大きさ*/
	font-size: 1.5em;
	
	/*文字の影の設定*/
	text-shadow: 2px 2px 2px #453902;
	/* tex-shadow: 横方向の影の長さ　縦方向の影の長さ　影のぼかし度合　色指定;*/
}

h3.kijiTitle{
	
	/* デフォルト設定の上部余白を0にする */
	margin-top: 0px;

	/* 下線の設定 */
	border-bottom: dotted 1px #000000;

}

/* 日付用段落の設定*/
p.date{
	/* 文字色 */
	color:#ff1493;
	
	/* 太字にしたり */
	font-weight:bold;
}

/* おすすめ用段落の設定*/
p.recommend{
	/* 文字色 */
	color:#ec6800;
}

/* タイトル紹介文用段落の設定 */
p#supple{
	/* 文字色 */
	color:#ffffff;
}

/* 順序リストの設定 */
ol.favoritemovie{
	/* 記号の設定 */
	list-style-type: upper-roman;
}

/* 箇条書きリストの設定 */
ul.navLinks{
	/* 上部余白設定 */
	margin-top:0px;

	/* 記号の設定 */
	list-style-type: circle;
}
	
