body {
  background:#ddd url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fsozaino.site%2Farchives%2Ftag%2Fgame&psig=AOvVaw0SOcDKJ5Lr2L_qog54EjfD&ust=1680879608862000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMihh9LClf4CFQAAAAAdAAAAABAZ") no-repeat center center;
  background-size: 100%;
   background-attachment: fixed;
  }